.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 15px 0;
    z-index: 1500;
    transition: linear .3s;
    background: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-scroll {
    padding: 15px 0;
    transition: linear .1s;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5500;
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.65), hsla(0, 0%, 100%, 0.6)), linear-gradient(rgba(59, 58, 62, .1), rgba(59, 58, 62, .1));
    align-items: center;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(13px);
}
.irbis-logo {
    width: 60px;
    object-fit: cover;
}

.hashtag {
    margin-left: 8px;
    color: white;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
}

.scroll-hashtag {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Comfortaa', cursive;
}

.header-link {
    font-size: 15px;
    text-decoration: none;
    margin-left: 14px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    transition: linear .2s;
}

.header-active-link {
    font-size: 15px;
    text-decoration: none;
    margin-left: 14px;
    color: #ffffff;
    text-transform: uppercase;
    /*border-bottom: 2px solid #fff;*/
    width: 100%;
    transition: linear .2s;
}

.header-active-link:hover {
    opacity: .6;
}

.header-link:hover {
    opacity: .6;
    transition: linear .2s;
}

.menu-burger{
    position: relative;
    border-radius: 1px;
    background-color: #ffffff;
    height: 2px;
    width: 26px;
    left: 0;
    top: 0;
}
.menu-burger-scroll{
    position: relative;
    border-radius: 1px;
    background-color: #000000;
    height: 2px;
    width: 26px;
    left: 0;
    top: 0;
}

.menu-burger:before{
    content: '';
    border-radius: 1px;
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 26px;
    left: 0;
    top: 8px;
}
.menu-burger-scroll:before{
    content: '';
    border-radius: 1px;
    position: absolute;
    background-color: #000000;
    height: 2px;
    width: 26px;
    left: 0;
    top: 8px;
}

@media screen and (max-width: 576px){
    .hashtag{
        display: none;
    }
    .scroll-hashtag{
      display: none;
    }
    .irbis-logo{
        width: 38px;
    }
}