.photo-card-img {
    position: relative;
    width: 480px;
    height: 230px;
    border-radius: 12px;

    z-index: 2;
}

.photo-card-wrap:after {
    position: absolute;
    content: '';
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: rgb(206, 205, 205);
    opacity: .6;
    top: -14px;
    left: 10%;
    z-index: 0;
    height: 30px;
    width: 80%;
}

.photo-card-wrap:before {
    position: absolute;
    content: '';
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: rgb(206, 205, 205);
    opacity: .9;
    top: -8px;
    z-index: 1;
    left: 5%;
    height: 30px;
    width: 90%;
    transition: linear .2s;
}
.photo-card-wrap:hover:before{
    width: 85%;
    left: 7.5%;
    transition: linear .2s;
    top: -6px;
}
.photo-card-wrap:hover:after{
    width: 75%;
    left: 12.5%;
    transition: linear .2s;
    top: -12px;
}

.photo-card-wrap:hover{
    transform: translateY(-3px);
    transition: linear .2s;
}
.photo-card-wrap{
    transition: linear .2s;
}

.photo-card-wrap:hover .photo-card-bg {
    opacity: .1;
    transition: linear .2s;
}

.photo-card-bg {
    transition: linear .2s;
    border-radius: 12px;

    z-index: 3;
}
