
.loader-image{
    animation-name: loader;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes loader {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}